@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700;800&display=swap');



body {
    font-family: 'Montserrat', sans-serif;
    width: auto;

}

.banner h1 {
    font-size: 85px;
    margin-top: 2rem;
    font-weight: 700;
}

.banner p {
    font-size: 50px;
    font-weight: 300;
}

.cuh img {
    height: 60px;
    width: auto;
}

.dropdown-item {
    transition: 500ms ease-out 100ms;

}

.dropdown-item:hover {
    background-color: rgb(49, 45, 45);
    color: white;
    border-color:white;
}

.dropdown-item h3 {
    font-weight: 700;
}

.dropdown-item p {
    font-weight: 300;
}

.banner {
    margin-bottom: 8rem;
}

.accordion-body {
    padding: 0;
}

.accordion-header {
    text-align: center;
}

.accordion {
    position: absolute;
    right: 0;
    z-index: 01;
}

h4 {
    font-weight: 700;
}

.lin {
    margin-top: 10rem;
    font-weight: 700;
}

h6 {
    margin: 0;
}

.accordion {
    border-color: gray;
}

.card img{
    width: 100px;
    height: auto;
}

.prod h1 {
    font-weight: 500;
    font-size: 70px;
    margin-bottom: 50px;
}

.prod h2 {
    font-weight: 300;
    font-size: 40px;
    padding-top: 5rem;
}

.card {
    width: 300px;
}

.cen {
    margin-left: 20rem;
}

.cart-card {
    width: 500px;
}

.btn-group-vertical>.btn:not(:first-child),
.btn-group-vertical>.btn-group:not(:first-child) {
margin-top: 0;
}